@import "/src/App.scss";

.landing-page {
  background-color: $gray-000;

  .header {
    height: 700px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;

    @media screen and (max-width: $breakpoint-mobile) {
      clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
      overflow: hidden;
    }

    &__background {
      position: absolute;
      height: 700px;
      width: 100%;
      background: url("/background.svg") $blue-300;
      background-size: cover;
      clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);

      @media screen and (max-width: $breakpoint-mobile) {
        clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

        &::after {
          content: " ";
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: $blue-300;
          opacity: 0.8;
        }
      }
    }

    &__content {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      box-sizing: border-box;

      &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        z-index: 1;

        @media screen and (max-width: $breakpoint-mobile) {
          width: 100%;
          align-items: center;
        }

        h1 {
          font-size: 2rem;
          font-weight: 600;
          margin-bottom: 0.5rem;

          @media screen and (max-width: $breakpoint-mobile) {
            font-size: 2.25rem;
          }
        }

        p {
          color: $gray-800;
          font-weight: 300;
          font-size: 1.25rem;
          font-style: italic;

          @media screen and (max-width: $breakpoint-mobile) {
            font-size: 1.5rem;
          }
        }
      }

      &__preview-container {
        position: relative;
        max-width: 680px;
        max-height: 450px;
        width: 100%;
        height: 100%;

        @media screen and (max-width: $breakpoint-mobile) {
          opacity: 0.2;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate3d(4, -4, -2, -0.1turn);
        }

        &__desktop-preview {
          position: absolute;
          top: 0;
          left: 0;
          max-height: 405px;
          width: 650px;
          border-radius: 0.5rem;
          overflow: hidden;

          -webkit-box-shadow: $drop-shadow-m;
          -moz-box-shadow: $drop-shadow-m;
          box-shadow: $drop-shadow-m;
        }

        &__mobile-preview {
          position: absolute;
          right: 0;
          bottom: 0;
          height: 405px;
          width: 220px;
          border-radius: 0.5rem;
          overflow: hidden;

          -webkit-box-shadow: $drop-shadow-m;
          -moz-box-shadow: $drop-shadow-m;
          box-shadow: $drop-shadow-m;
        }
      }
    }
  }

  .about-me {
    display: flex;
    gap: 2rem;
    margin-bottom: 10rem;

    @media screen and (max-width: $breakpoint-mobile) {
      flex-direction: column;
      margin-bottom: 2rem;
    }

    &__image {
      width: 348px;
      height: 348px;
      margin: 0 0 0 2rem;
      position: relative;
      z-index: 1;

      @media screen and (max-width: $breakpoint-mobile) {
        margin: 0;
        width: 100%;
        height: 100%;
      }

      img {
        width: 348px;
        height: 348px;
        border-radius: 0.5rem;

        @media screen and (max-width: $breakpoint-mobile) {
          margin: 0;
          width: 100%;
          height: 100%;
        }
      }

      &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border: 4px solid $blue-700;
        border-radius: 0.5rem;
        z-index: -1;
        transition-duration: 0.1s;
        pointer-events: none;

        transform: translate(-2rem, 2rem);

        @media screen and (max-width: $breakpoint-mobile) {
          display: none;
        }
      }

      &:hover::after {
        transform: translate(-1.25rem, 1.25rem);
      }
    }

    &__text-container {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      &__heading {
        font-size: 1.5rem;
        font-weight: 300;
        margin-bottom: 0.75rem;
      }

      &__content {
        font-size: 1.125rem;
        line-height: 1.75rem;
        color: $gray-700;
      }

      &__tech-stack {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
        width: 70%;
        margin-top: 1rem;
        font-size: 1.125rem;
        color: $gray-700;

        @media screen and (max-width: $breakpoint-mobile) {
          gap: 1rem;
          width: 100%;
          grid-template-columns: 1fr;
        }

        &__element::before {
          content: "";
          width: 0.75rem;
          height: 0.75rem;
          background-color: $blue-700;
          display: inline-block;
          clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
          margin-right: 0.5rem;
        }
      }
    }
  }

  .porftolio {
    display: flex;
    gap: 6rem;
    flex-direction: column;
    margin-bottom: 6rem;

    @media screen and (max-width: $breakpoint-mobile) {
      margin-bottom: 2rem;
    }
  }

  .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $gray-100;
    gap: 2rem;
    padding: 4rem 0;

    &__prompt {
      font-size: 2rem;
      font-weight: 300;
      color: $gray-900;
    }

    &__get-in-touch-btn {
      padding: 1rem;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.75rem;
      transition: 0.1s;
      cursor: pointer;
      background-color: $blue-400;
      color: $gray-900;
      font-size: 1.25rem;
      font-weight: 300;
      border: none;

      &:hover {
        transform: scale(1.05);
        background-color: $blue-500;
      }

      svg {
        fill: $gray-900;
      }
    }
  }

  .social-info {
    padding: 4rem 0;

    &__signature {
      text-align: center;
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    &__buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
    }
  }
}
