@import "src/app/variables";

.technologies {
  .header {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    color: $text-emphasis;
    margin-bottom: 2rem;
  }

  .technologiesContainer {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.technologyItem {
  display: inline-block;
  background-color: $block-background-color;
  padding: 1rem;
  border-radius: 0.5rem;
  border: $block-border;
  font-weight: 600;
  transition-duration: 0.2s;
  transition-property: color;
  cursor: default;

  @media only screen and (max-width: $mobile-breakpoint) {
    padding: 0.5rem;
  }

  &:hover {
    color: $text-emphasis;
  }
}
