.mw {
  max-width: 1024px;
  margin-right: auto;
  margin-left: auto;
}

$blue-000: hsl(230, 61%, 10%);
$blue-100: hsl(230, 61%, 15%);
$blue-200: hsl(230, 61%, 25%);
$blue-300: hsl(230, 61%, 35%);
$blue-400: hsl(230, 61%, 45%);
$blue-500: hsl(230, 61%, 50%);
$blue-600: hsl(230, 61%, 60%);
$blue-700: hsl(230, 61%, 70%);
$blue-800: hsl(230, 61%, 80%);
$blue-900: hsl(230, 61%, 95%);

$gray-000: hsl(177, 0%, 5%);
$gray-100: hsl(177, 0%, 15%);
$gray-200: hsl(177, 0%, 30%);
$gray-300: hsl(177, 0%, 40%);
$gray-400: hsl(177, 0%, 50%);
$gray-500: hsl(177, 0%, 60%);
$gray-600: hsl(177, 0%, 70%);
$gray-700: hsl(177, 0%, 80%);
$gray-800: hsl(177, 0%, 90%);
$gray-900: hsl(177, 0%, 100%);

$drop-shadow-m: -8px 10px 24px 0px $gray-000;
$drop-shadow-m2: 8px 10px 24px 0px $gray-000;
