.bold {
  font-weight: 700;
}

.primary {
  color: $primary-color;
}

.background {
  color: $background-color;
}

.subheader {
  font-size: 1.25rem;
}

.par {
  margin: 0.5rem 0;
}

.center {
  text-align: center;
}
